

.footer {
 background-color: black;
 color: white;
 display:flex;
 justify-content: space-around;
 text-align: center;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  font-size: 30px;
}

.memes {
  color: white;
}
